/*Bealitom a header haterkepet*/
header
{
    background-image:  url(/img_library/header/Background_pattern.png),url(/img_library/header/main_img.png);
    background-repeat: repeat,no-repeat;
    background-size: auto,cover;
    /* height: 900px; */
    position: relative;
}
/*bealitom a nav-bart*/
header nav 
{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px 150px;
}
/*itt a lista bealitasaival fogalkozom*/
header ul,i
{
    display: flex;
    list-style: none; 
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
/*itt a lista elemekel fogalkozom*/
header ul li,i
{
    margin-right: 24px;
    color: #DCDCDC;
    font-size: 16px;
}
/*Bealitok egy masik szint a lista elemre ha valaki raviszi az egeret mas legyen egy kicsit a szine*/
header ul li:hover
{
    color: #b4b4b4;
}
/*Bealitom a navban elvo gombot is*/ 
nav>button
{
    font-size: 16px;
    width: 130px;
    height: 48px;
    padding: 10px;
    background-color:  rgba(255, 255, 255, 0.0);
    color:  #DCDCDC;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #DCDCDC;
}
nav>button:hover
{
    color:  #b3b3b3;
    border: 1px solid #b3b3b3;
}
/*Ebben a kontenerben a header kozepen levo elemeket tarolom*/
.Header_main_content
{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 576px;
    margin: 80px auto;
}
/*Ebenn van a bal oldali szoveg*/
.Header_main_text_content
{
    width: 537px;
    padding: 58px 0px 58px 0px;
}
/*Balolal 1 elem span*/
.Header_main_text_content>span
{
    font-size: 14px;
    background-color:  rgba(255, 255, 255, 0.2);
    color: white;
    padding: 6px 16px 6px 12px;
    border-radius: 32px;
}
/*A spanban levo kis icon*/
.Header_main_text_content>span>img
{
    padding-right: 4px;
}
/*Most jon a feher szoveg*/
.Header_main_text_content>h1
{
    margin: 12px 0px 12px 0px;
    color: white;
    font-size: 64px;
}
.Header_main_text_content>p
{
    color: white;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 40px;
}
.Header_main_text_content>button
{
    cursor: pointer;
    padding: 24px 24px;
    border-radius: 48px;
    width: 179px;
    background-color: #00B512;
    border: none;
    font-size: 18px;
    color: white;
}
.Header_main_text_content>button:hover
{
    background-color: #00b512cc;
}
.Header_main_text_content>i
{
    font-size: 1em;
}
/*A sarga szo*/
.gold_text
{
    color: gold;
}
/*ez a headerbel levo zold sav*/
.green_line
{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    height: 80px;
    background-color: #04684C;
    padding: 20px 44px;
}
/*main */
/*Ebben van kozepen a tartalom*/
.about_us_content
{
    display: flex;
    justify-content: center;
    height: 607px;
    margin-top: 120px;
    margin-bottom: 100px;
}
/*itt a chart nak van az elrendezese*/
.about_us_content_img
{
    margin-right: 85px;
    margin-top: 62px;
    margin-bottom: 62px;
}
/*itt ez mind maga az about us span*/
.about_us_content_text>span
{
    border-radius: 24px;
    border: 1px solid  rgba(5, 197, 88, 0.3);;
    background-color:  rgba(3, 119, 68, 0.1);
    padding: 6px 16px 6px 12px;
}
.about_us_content_text>img
{
   margin-right: 4px;
}
/*----------------------------------*/
/*A bal oldalt nagy szoveg */
.about_us_content_text>h2
{
    margin-top: 16px;
    font-size: 48px;
}
/*A szoveg doboz(ok) es a kis vonal lefele*/
.text_container
{
   display: flex;
}
.side_bar
{
    height: 426px;
    width: 11px;
    background-color: #b4b4b4;
    border-radius: 24px;
    margin-right: 20px;
}
.green_side_bar
{
    height: 121px;
    width: 11px;
    background-color: #04684C;
    border-radius: 24px;
}
.text_boxes>article>div
{
    padding: 24px 20px;
}
.text_boxes>article
{
    height: 134px;
    width: 531px;
    border: 1px solid #cfcfcf;
    border-radius: 24px;
    
}
.text_box1
{
    margin-bottom: 12px;
    background-color: #F1FFD2;
   
}
.text_box2
{
    margin-bottom: 12px;
}
/*main featured resz*/

.featured_content
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 100px 150px 150px 100px;
}
.featured_content_text>span
{
    border-radius: 24px;
    border: 1px solid  rgba(5, 197, 88, 0.3);;
    background-color:  rgba(3, 119, 68, 0.1);
    padding: 6px 16px 6px 12px;
}
.featured_content_text>span>img
{
    margin-right: 4px;
}
.featured_content_text>h2
{
    font-size: 48px;
    margin-top: 20px;
}

.featured_content_text>ul
{
    margin-top: 12px;
    margin-bottom: 40px;
    list-style-position: inside;
    color: #676666;
}
.featured_content_text>ul>li:last-child
{
    margin-top: 16px;
}
.featured_content_text>button
{
    font-size: 16px;
    border: 1px solid #00B512;
    background-color:  rgba(255, 255, 255, 0.1);
    padding: 24px 32px 24px 24px;
    border-radius: 48px;
    cursor: pointer;
    
}
.featured_content_text>button:hover
{
    background-color: #f6f6f6cc;
}
/*main trustworthiness resz*/
.trustworthiness
{
    background-image:  url(/img_library/main_trustworthiness/trustworthiness_backgraund.png);
    background-repeat: repeat;
    background-size: cover;
    height: auto; 
    position: relative;
}
.trustworthiness_content
{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    padding: 120px 150px;
}
.trustworthiness_text_content>span
{
    border-radius: 24px;
    border: 1px solid  rgba(5, 197, 88, 0.3);
    background-color:  rgba(3, 119, 68, 0.1);
    padding: 6px 16px 6px 12px;
    color: white;
}
.trustworthiness_text_content>span>img
{
    margin-right: 4px;
}
.trustworthiness_text_content>h2
{
    color: white;
    font-size: 48px;
    margin: 16px 0px 16px;

}
.trustworthiness_text_content>p
{
    color: #DBDBDB;
    font-size: 18px;
    margin-bottom: 40px;
}
.trustworthiness_text_content>button
{
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 24px 32px 24px 24px;
  color: white;
  background-color: #00B512;
  border-radius: 48px;
}
.trustworthiness_text_content>button:hover
{
    background-color: #00b512cc;
}

/*main services resz*/
.services_text
{
    max-width: 615px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}
.services_text>span
{
    font-size: 14px;
    padding: 6px 16px 6px 12px;
    border: 1px solid  rgba(5, 197, 88, 0.3);
    background-color:  rgba(3, 119, 68, 0.1);
    border-radius: 24px;
}
.services_text>span>img
{
    margin-right: 4px;
}
.services_text>h2
{
    font-size: 3rem;
    margin-top: 16px;
}
.Flex_content1
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    max-width: 1140px;
    background-color: #F6F9F8;
    margin-bottom: 1rem;
    border-radius: 24px;
    margin-top:60px;
}
.Flex_content2
{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1140px;
}
.Flex_content2_card1
{
    background-color: #F6F9F8;
    border-radius: 24px;
}
.Flex_content2_card1>div
{
    padding: 54px 42px;
    margin-bottom: 50px;
}
.Flex_content2_card1>div>h3
{
    font-size: 2rem;    
    margin: 12px 0px 12px;
}
.Flex_content2_card1>div>p
{
    font-size: 1rem;
    color: #676666;
}
.Flex_content2_card1>img
{
    display: block;
    margin: 0 auto;
}
.Flex_content2_card2
{
    background-color: #001027;
    border-radius: 24px;
    color: white;
}
.Flex_content2_card2>div
{
    padding: 54px 42px;
    margin-bottom: 50px;
}
.Flex_content2_card2>div>h3
{
    font-size: 2rem;    
    margin: 12px 0px 12px;
}
.Flex_content2_card2>div>p
{
    font-size: 1rem;
    color: #676666;
}
.Flex_content2_card2>img
{
    display: block;
    margin: 0 auto;
}
.Flex_content3
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    margin-top: 1rem;
}
.Flex_content3_card1
{
    background-color: #E2FF54;
    border-radius: 24px;
}
.Flex_content3_card2
{
    background-color: #F6F9F8;
    border-radius: 24px;
}
.Flex_content3_card3
{
    background-color: #2D907A;
    border-radius: 24px;
}
.Flex_content3_card1>div
{
    padding: 64px 31px 64px;
}
.Flex_content3_card2>div
{
    padding: 49px 97px 137px 31px;
}
/************************************/
.Flex_content3_card1>div>h3
{
    font-size: 2rem;
    margin-bottom: 16px;
}
.Flex_content3_card1>div>p
{
    font-size: 1.2rem;
}
.Flex_content3_card2>div>img
{
    margin-bottom: 12px;
}
.Flex_content3_card2>div>h3
{
    font-size: 1.5rem;
}
.Flex_content3_card3>h3
{
    padding: 110px 64px;
    font-size: 2.1rem;
    text-align: center;
    color: white;
}
section>button
{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    padding: 24px;
    border: 1px solid #00B512;
    border-radius: 32px;
    margin-bottom: 120px;
}
/***************************************************************************/
@media (max-width: 1000px) {

    .Flex_content1
    {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        max-width: 600px;
    }   
    .Flex_content1_text
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .Flex_content2
    {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }   

     .Flex_content3
    {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }   

}
/*main (testimonial)*/
.testimonial
{
    background-color: #F6F9F8;
}
.testimonial_text
{
   text-align: center;
   padding-top: 120px;
   margin-bottom: 60px;
}
.testimonial_text>span
{
    border-radius: 24px;
    border: 1px solid  rgba(5, 197, 88, 0.3);
    background-color:  rgba(3, 119, 68, 0.1);
    padding: 6px 16px 6px 12px;
}
.testimonial_text>span>img
{
     margin-right:4px;
}
.testimonial_text>h4
{
    margin-top: 16px;
    font-size: 48px;
}
.flex_container
{
    display: flex;
    justify-content: space-evenly;
}
/*************************************************************************/
.flex_container>.card1
{
    border-radius: 24px;
    background-color: white;
}
.flex_container>.card1>div
{   
    padding: 36px 47px;
}
.flex_container>.card1>div>img
{   
    margin-bottom: 28px;
}
.flex_container>.card1>div>p
{   
    font-size: 16px;
    margin-bottom: 28px;
}
.flex_container>.card2
{
    border-radius: 24px;
    background-color: #004852;
}
.flex_container>.card2>div
{   
    padding: 36px 47px;
    color: white;
}
.flex_container>.card2>div>img
{   
     margin-bottom: 28px;
}
.flex_container>.card2>div>p
{   
    font-size: 16px;
    margin-bottom: 28px;
}
.flex_container>.card3
{
    border-radius: 24px;
    background-color: white;
}
.flex_container>.card3>div
{   
    padding: 36px 47px;
}
.flex_container>.card3>div>img
{   
    margin-bottom: 28px;
}
.flex_container>.card3>div>p
{   
    font-size: 16px;
    margin-bottom: 28px;
}
.Avatar>img
{
    display: inline-block;
    margin-right: 12px;
}
.avatar_info
{
    display: inline-block;
}
.testimonial>button
{
    display: block;
    margin: auto;
    margin-top: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 24px 32px 24px 24px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 48px;
    border: 1px solid #00B512;
}
.testimonial>button:hover
{
      background-color: #f6f6f6cc;
}
.testimonial_last
{
    background-image:  url(/img_library/main_testimonial/trustworthiness_backgraund.png);
    max-width: 1140px;
    border-radius: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 120px;
}
.testimonial_last>.flex_container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1300px; 
}
.testimonial_last_text>div>h4
{
    color: white;
    font-size: 48px;
    margin-bottom: 12px;
}
.testimonial_last_text>div>p
{
    color: white;
    margin-bottom: 40px;
}
.testimonial_last_text>div>button
{
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 24px 32px 24px 24px;
    color: white;
    background-color: #00B512;
    border-radius: 48px;
}
.testimonial_last_text>div>button:hover
{
     background-color: #00b512cc;
}
footer>.content1
{
    max-width: 782px;
    margin: auto;
    margin-bottom: 20px;
}
.content1>img
{
    display: block;
    margin: auto;
    margin-bottom: 16px;
}
.bades>img
{
    display: block;
}
.footer_flex_span
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer>.content2
{
    max-width: 708px;
    margin: auto;
}
.Icons_flex
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content2>p
{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
  header nav {
    padding: 20px 60px;
  }

  .Header_main_content {
    flex-direction: row;
    max-width: 900px;
    height: auto;
    margin: 60px auto;
  }

  .Header_main_text_content > h1 {
    font-size: 48px;
  }

  .featured_content {
    padding: 60px 80px;
    gap: 1rem;
  }

  .trustworthiness_content {
    padding: 80px 100px;
  }

  .services > div > h2 {
    font-size: 40px;
  }
    .about_us_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    margin: 60px auto;
  }
}

@media (max-width: 1000px) {
  header nav ul {
    display: none; 
  }

  .Header_main_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px auto;
  }

  .Header_main_img_content img {
    width: 80%;
  }

  .about_us_content_img {
    margin: 0 0 40px 0;
  }

  .featured_content {
    flex-direction: column;
    text-align: center;
  }

  .trustworthiness_content {
    flex-direction: column;
    flex-direction: column-reverse;
    text-align: center;
    gap: 40px;
  }
 
  .flex_container {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .testimonial_last {
    width: 90%;
    flex-direction: column;
    background-repeat: no-repeat;
    padding: 40px 0;
  }
}

@media (max-width: 600px) {
  header nav {
    padding: 10px 20px;
  }

  nav > button {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }

  .Header_main_text_content > h1 {
    font-size: 32px;
  }

  .Header_main_text_content > p {
    font-size: 16px;
  }

  .Header_main_text_content > button {
    width: 140px;
    font-size: 16px;
  }

  .green_line img {
    width: 50px;
    height: auto;
  }

  .about_us_content_text > h2,
  .featured_content_text > h2,
  .trustworthiness_text_content > h2,
  .services > div > h2,
  .testimonial_text > h4 {
    font-size: 28px;
  }

  .Services_content_box {
    margin: 0 20px;
  }

  .flex_container > div {
    width: 90%;
    margin-bottom: 20px;
  }

  footer .footer_flex_span {
    flex-direction: column;
    gap: 10px;
  }

  footer .Icons_flex {
    flex-wrap: wrap;
    gap: 10px;
  }

  footer .content1 img {
    width: 70%;
  }
}